build*/
*~
*.o
*.moc
moc_*
cmake_install.cmake
CMakeCache.txt
*CMakeFiles
Makefile
*.pro.user
actor.cbp
*.txt.user
*.cbp
*.vpp~*
*.vpp.bak
file_reader_config.h
identification_number_config.h
config_lua.h
